<h1>Enter Details For Sign Up</h1>

<div class="errors_display">
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
       <h3><%= message %></h3>
    <% end %>
  <% end %>
</div>

<br>

<%= form_with(model: @users, url: users_path) do |form| %>
  <div class = "signup_form">
  	<span class="Details"><%= form.label :username %></span>
  	<br>
  	<%= form.text_field :username, placeholder: "allow only letters", required: true, minlength: 2, maxlength: 10, pattern: "[A-Za-z]*" %> 
  </div>
   <br>
  <div>
  	<span class="Details"><%= form.label :age %></span>
  	<br>
  	<%= form.number_field :age, placeholder: "minimum age 10", min: 10, max:100, required: true %>
  </div>
   <br>
  <div>
  	<span class="Details"><%= form.label :city %></span>
  	<br>
  	<%= form.text_field :city, placeholder: "City", minlength: 2, maxlength: 12, pattern: "[A-Za-z]*", required: true %>
  </div>
   <br>
  <div>
  	<span class="Details"><%= form.label :email %></span>
  	<br>
  	<%= form.email_field :email, placeholder: "Example@gmail.com", pattern: "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[com]{3}$", required: true %>
  </div>
   <br>
  <div>
  	<span class="Details"><%= form.label :password %></span>
  	<br>
  	<%= form.password_field :password, placeholder: "Password", required: true %>
  </div>
   <br>
  <div>
  	<%= form.submit "Create Account" %>
  </div>
<% end %>
