<span class = "heading_mail">Invite Friends</span>
<br><br>
<%= form_with(model: @invitation) do |form| %>
  <span class="alert">
    <%= flash[:notice] %>
    <%= flash[:error] %>
    <span><br>
  <%= form.text_area :email, placeholder: "Enter Email"%><br>
  <%= form.submit "Send Invitation" %>
<% end %>
