<h1>EventLogs of User</h1>
<table class="eventlog_table">
 <tr class="head">
  <th>Time</th>
  <th>Username</th>
  <th>Actions</th>
 </tr>
 <tr>
   <% @events.each do |event| %>
   <td><%= event.time %></td>
   <td><%= event.username %></td>
   <td><%= event.actions %></td>
 </tr>
   <% end %>
</table>
<br>
<span class="pagination"><%= will_paginate @events %></span> 
<br>
<span class="home_nav"><%= link_to "back", invitations_path %></span>
