<nav>
  <span class="two_games"><%= link_to "play by js",games_path %></span>
  <span class="two_games"><%= link_to "play by turbostream",game_index_path %></span>
</nav>
<h1>LEADERBOARD</h1>
 <%= will_paginate @rank %>
 <br>
  <table class = "table">
    <thead class="head"> 
      <tr>
        <th> NAME </th>
        <th> POINTS </th>
        <th> RANK </th>
      </tr>
    </thead>
    <tbody>
      <% @rank.each do |rank|%>
      <tr>
        <td><%= rank.username %></td>
        <td><%= rank.points %></td>
        <td><%= rank.rank %></td>
      </tr><br><br>
     <% end %>
    </tbody>
  </table>
<br><br>
<span class="two_games"><%= link_to "PLAY GAME", games_path %></span> 
<span class="two_games"><%= link_to "HOME", invitations_path %></span>
  