<h1>Sign In</h1>
<h3 class = "invalid_password"> <%= flash[:alert] %> </h3>
<%= form_with(url: loggins_path) do |form| %>
  <div class = "signin_form">
   	<span class="Details"><%= form.label :email %></span>
    <br><br>
    <%= form.email_field :email, placeholder: "Email", required: true %>
  </div>
   <br>
  <div class = "signin_form">
    <span class="Details"><%= form.label :password %></span>
    <br><br>
    <%= form.password_field :password, placeholder: "Password" %>
  </div>
    <br>
  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>
 <br>
 <span class="home_nav"><%= link_to "Back To Home Page", users_path %></span>