<span class = "heading_mail">Invite Friends</span>
<br><br><br>
<%= form_with(model: @invitations) do |form| %>
  <div class = "mail">
   <%= form.text_area :email, placeholder: "Enter Email"%>
  </div>
  <div class = "alert">
   <%= flash[:alert] %>
   <%= flash[:notice] %>
  </div>
  <div class="submit">
   <%= form.submit "Send Invitation" %>
  </div>
<% end %>