<nav>
  <span class="game_user">User: <%= @user.username.upcase%></span>
  <span class="game_nav"><%= link_to "logout", users_path %></span>
  <span class="game_nav"><%= link_to "quit", games_path %></span>
</nav>
<span id = "random_number">
  <%= ran = rand(10..30) %>
  <%= hidden_field_tag :number, ran %> 
</span>

<div>
  <p>Score: <%= @user.points %></p>
</div>
  <button id="clear" onclick="document.getElementById('game').value = '';">Clear</button>
<div>
  <form>         
    <input id = "game" type ="text" name = "answer"> <button id="button" >submit</button><br> <br>  
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">  
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
   <br>
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">  
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
   <br>
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">  
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
   <br>
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">  
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <input class ="numbers" type = "button" value = <%= a=rand(1...10) %> onclick = "answer.value += <%= a %> ">
    <br>
  </form>
</div>
