
<div class = "random_number">
<%= rand(5..25) %>
</div>
          
<%= flash[:notice] %>

<div  class  = "all_number">
<form>         
  <input id = "game" type ="text" name = "answer"> <button id = "button">submit</button><br> <br>  
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">  
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
 <br>
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">  
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <br>
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">  
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
 <br>
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">  
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <input class ="numbers" type = "button" value = <%= @a=rand(1...10) %> onclick = "answer.value += <%= @a %> ">
  <br>
</form>

</div>
<%= link_to "restart", start_path %>
<br>
<%= link_to "quit", games_path %>