<nav>
  <span class="logout"> User : <%= @user.username.upcase %></span>
  <span class="logout"><%= link_to "logout", users_path %></span>
  <span class="logout"><%= link_to 'delete account', delete_path %></span>
</nav>
<h1>MENU</h1>
<button id="play"><%= link_to "Play",start_path %></button> 	
<br><br><br>
<span class="logout"><%= link_to "Game Rules",points_path %></span>
<br><br><br><br>
<span class="logout"><%= link_to "Eventlogs", eventlog_path %></span>
<br><br><br><br>
<span class="logout"><%= link_to "Leaderboard", leaderboard_path %></span>
<br><br><br><br>
<span class="logout"><%= link_to "Quit Game",users_path %></span>
<br><br><br><br>
<%= render 'mail' %>